openapi: 3.0.3
info:
  title: CGMIX Maritime Information Exchange Equipment API
  description: The Coast Guard Maritime Information Exchange (CGMIX) provides access to U.S. Coast Guard maritime information including vessel documentation, Port State Information Exchange (PSIX) vessel data, equipment certification listings, and Incident Investigation Reports (IIR). Data originates from the Marine Information for Safety and Law Enforcement (MISLE) system and is updated weekly.
  version: 1.0.0
  contact:
    name: U.S. Coast Guard CGMIX
    url: https://cgmix.uscg.mil/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://cgmix.uscg.mil
  description: CGMIX Production Server
tags:
- name: Equipment
  description: USCG approved equipment certification data
paths:
  /xml/EquipmentData.asmx/getEquipmentDetails:
    get:
      operationId: getEquipmentDetails
      summary: Get Equipment Certification Details
      description: Retrieve details about USCG-approved marine equipment by equipment ID, including approval status, manufacturer, model, and certification scope.
      tags:
      - Equipment
      parameters:
      - name: EquipmentId
        in: query
        description: USCG equipment certification ID
        required: true
        schema:
          type: string
        example: 160.002/3
      responses:
        '200':
          description: XML document containing equipment certification details
          content:
            text/xml:
              schema:
                type: string
